:root {
    --dark: #333;
    --light: #fff;
    --neutral: #f6f6f6;
    --neutral-dark: #d1d1d1;
    --color: #5607d7;
    --color-light: #941ed2;
    --color-dark: #2719cd;
}
@media screen and (min-width: 768px) {
    .menu__body {
        display: none !important;
    }
}

.loader {
    border: 4px solid #f3f3f3; /* The loading ring */
    border-top: 4px solid #3498db; /* The loading ring color */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 0.5s linear infinite; /* Animation properties */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.menu__body {
    --x: 0;
    --y: 0;
    --z: 0;
    display: block;
    width: 100%;
    background: var(--dark);
    padding-bottom: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px -9px 50px -30px black;
    font-family: "Montserrat", sans-serif;
    position: fixed;
    bottom: 0;
    z-index: 105;
    transform: translate3d(var(--x), var(--y), var(--z));
    transition: 0.2s cubic-bezier(0.33, 1, 0.53, 1);
}
.menu__body[hidden] {
    --y: 150%;
}
.menu__body > *:not(:last-child) {
    border-bottom: 2px solid var(--neutral);
}

.menu__links {
    display: flex;
    padding: 10px 15px;
    font-weight: bold;
    overflow-x: auto;
}
.menu__links a {
    flex: auto;
    padding: 10px 8px;
    color: var(--light);
    text-decoration: none;
    white-space: nowrap;
}

.phone_icon i {
    font-size: 2rem; /* Increase the size of the icon */
}